body{margin: 0;padding: 0;font-size: 12px;color: #000;}
body{background: url(../images/bg2.gif) repeat;}
div,p,ul,li,img,dl,dt,dd,h2,h4,h3{margin: 0;padding: 0;list-style: none;border: 0;}
.top{width: 960px;height: 150px;background: url(../images/top.jpg) repeat-x;margin: 0 auto;}
.topZi{font-family: 华文行楷;font-size: 30px;padding: 35px 0 0 18px;}
.topLeft{float: right;margin:20px 40px 0 0 ;border-top: 1px solid #8C8C00;border-bottom: 1px solid green;}
.topLeft li{height: 32px;line-height: 34px;float: left;margin-right: 29px;font-family: 华文行楷;}
.topLeft a:link,.topLeft a:visited{font-size: 20px;text-decoration: none;color: #73BF00;}
.topLeft a:hover{color: #AD5A5A;background: url(../images/nva1.jpg) repeat-x;}

.content{width: 960px;overflow: hidden;margin: 0 auto;background-color: #fefefe;}
.up{width: 960px;height: 35px;margin-top: 30px;}
.up h2{border-top: 1px dashed #8C8C00;border-bottom: 1px dashed #8C8C00;padding: 10px 0 0 15px;}

.conLeft{width: 164px;overflow: hidden;margin: 30px 0 0 35px;border-right: 1px dashed #467500;}
.conLeftUp h4{border-bottom: 1px solid #467500;padding: 5px 0 5px 0;margin-right: 25px;}
.conLeftUp h4 span{color: #467500;}

.conLeftUp1{width: 145px;height: 320px;margin-top: 5px;}
.conLeftUp1 li{height:20px;line-height:20px;}
.conLeftUp1 li a:link,.conLeftUp1 li a:visited{font-size:14px;color:#467500;text-decoration:none;}
.conLeftUp1 li a:hover{color:#548C00;text-decoration:none;}

.conLeftMiddle {width: 145px;height: 245px;}
.conLeftMiddle h4{border-bottom: 1px solid #467500;padding: 0 0 5px 0;margin-right: 25px;}
.conLeftMiddle h4 span{color: #467500;margin-right: 20px;}

.conLeftDown{width: 145px;height:100px;}
.conLeftDown h4{border-bottom: 1px solid #467500;padding: 30px 0 5px 0;margin-right: 25px;}
.conLeftDown h4 span{color: #467500;}

.comLeftDownxin{margin-top: 10px;}
.comLeftDownxin a:link,.comLeftDownxin a:visited{font-size:14px;color:#467500;text-decoration:none;}
.comLeftDownxin a:hover{color:#548C00;text-decoration:none;}

.down{width: 960px;overflow:hidden;background-color: #fefefe;margin: 0 auto;}
.shengming{text-align: center;padding-top: 60px;}
.shengming a:link,#shengming a:visited{font-size:14px;color:#AFAF61;text-decoration:none;}
.shengming a:hover{color: #AD5A5A;background: url(../images/nva1.jpg) repeat-x;}

.banquan{text-align: center;margin: 20px 0 50px 0;color: #AFAF61;font-size: 14px;}

.niTop{width: 960px;height: 50px;background: url(../images/down1.jpg) repeat-x;margin: 0 auto;}