<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset=utf-8>
		<title>LinlinBie's Personal Web</title>
		<link rel="stylesheet" type="text/css" href="CSS/dailyRecord.css">
	</head>
	<body>
		<div class="top">
			<p class="topZi" >林芝看天下－LinLook World</p>
			<ul class="topLeft">
				<li><a href="HomePage.html">首页</a></li>
				<li><a href="#">日志</a></li>
				<li><a href="#">相册</a></li>
				<li><a href="#">音乐</a></li>
				<li><a href="#">收藏</a></li>
				<li><a href="#">好友</a></li>
				<li><a href="personalData.html">关于我</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="up"><h2>日志</h2></div>
			<div class="conLeft">
				<div class="conLeftUp">
					<h4><span>分类</span></h4>
					<div class="conLeftUp1">
						<ul>
							<li><a href="#">·所有日志(389)</a></li>
							<li><a href="#">·大数据学习笔(3)</a></li>
							<li><a href="#">·移动医疗(1)</a></li>
							<li><a href="#">·视频制作(1)</a></li>
							<li><a href="#">·Web应用开发(6)</a></li>
							<li><a href="#">·iOS课程(23)</a></li>
							<li><a href="#">·Mac 使用技巧(3)</a></li>
							<li><a href="#">·物联网技术(8)</a></li>
							<li><a href="#">·教育机器人(20)</a></li>
							<li><a href="#">·随笔(7)</a></li>
							<li><a href="#">·iOS之美(245)</a></li>
							<li><a href="#">·我为C狂(12)</a></li>
							<li><a href="#">·移动流媒体(6)</a></li>
							<li><a href="#">·Android 开发(23)</a></li>
							<li><a href="#">·默认分类(31)</a></li>
						</ul>
					</div>
				</div>
				<div class="conLeftMiddle">
					<h4><span>标签</span></h4>
					<div class="conLeftUp1">
						<ul>
							<li><a href="#">·ios[105]</a></li>
							<li><a href="#">·ios之美[63]</a></li>
							<li><a href="#">·ios开发之美[21]</a></li>
							<li><a href="#">·android[20]</a></li>
							<li><a href="#">·Web应用开发(6)</a></li>
							<li><a href="#">·iphone[16]</a></li>
							<li><a href="#">·storyboard[15]</a></li>
							<li><a href="#">·悠悠电台[14]</a></li>
							<li><a href="#">·ios培训[11]</a></li>
							<li><a href="#">·fmdb[10]</a></li>
							<li><a href="#">·nsarray[10]</a></li>
							<li><a href="#">·更多>></a></li>
						</ul>
					</div>
				</div>
				<div class="conLeftDown">
					<h4><span>归档</span></h4>
					<h3 class="comLeftDownxin"><a href="#">心情随笔</a></h3>
				</div>
			</div>
		</div>
		<div class="down">
			<p class="shengming"><a href="#">博客风格</a><span> - </span><a href="#">手机博客</a><span> - </span><a href="#">下载LOFTER APP </a><span> - </span><a href="#">订阅此博客</a></p>
			<p class="banquan">Linlinbie版权所有@1292</p>
		</div>
		<div class="niTop"></div>
	</body>
</html>
